{% include 'admin/header.html' %}

<div class="main-content">
    <div class="wrapper">
        <h1>Change Password</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <label>
            <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
            <div class="alert warning">
                <span class="alertClose">X</span>
                <span class="alertText">{{ message }}
    <br class="clear"/></span>
            </div>
        </label>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <form action="{{ url_for('change_password', id=admin.id) }}" method="POST">

            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" name="current_password"
                       aria-describedby="emailHelp"
                       placeholder="Current Password">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" name="new_password" id="newPassword"
                       placeholder="New Password">
            </div>
            <div class="form-group mb-3">
                <label for="conformPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" id="conformPassword"
                       placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary" name="submit">Change Password</button>

        </form>

    </div>
</div>

{% include 'admin/footer.html' %}
